:root{
  font-family: 'Tangerine', cursive;
  font-size: 1.5em;
}
//css default is desktop
#main-container{
  width: 100vw;
  height: 100vh;
}
@mixin fillSpace(){
  width: 100%;
  height: 100%;
}
#react-container{
  @include fillSpace();
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 30% 70%;
}
#menu-space{
  @include fillSpace();
  grid-column: 1; 
  grid-row: 1 / 3;
  background: linear-gradient(90deg, #000, #555);
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  z-index: 2;
  
}
#filtered-matches{
  @include fillSpace();
  grid-column: 2; 
  grid-row: 1 / 3;
  background: #555;
  overflow: auto;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 1;
  justify-items: center;
  align-items: start;
}
/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=*/
.selections-button{
  min-width: fit-content;
  width: 50%;
  padding: .5em;
  margin: .5em;
  background: rgba(224, 224, 224, .7);
  border-radius: 0px 0px 5px 5px;
  transition: 150ms;
}
.sel-but-active{
  @extend .selections-button;
  background: rgba(220, 220, 220, .8);
  font-weight: 700;
}
.sel-menu-active{
  @extend .sel-but-active;
}
.options-space{
  display: none;
  width: auto;
  height: auto;
  background: rgba(0, 100, 125, .4);
}
.opt-space-active{
  @extend .options-space;
  display: flex;
}
/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=*/
.filtered-item{
  width: 40%;
  height: 40%;
  background: linear-gradient(-30deg, #888, #bbb, #ddd, #eee);
  margin: 1em;
  border-radius: 5%;
  display: grid;
  grid-template-rows: 48% 48%;
  grid-template-columns: 38% 58%;
  justify-items: start;
  align-items: start;
  box-shadow: 5px 5px 5px #111;
  
  ul{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 3;
  }
}
.svg-test{
  position: relative;
  height: 100%; 
  width: 100%; 
  z-index: 2;
  background: transparent;
  border-radius: 50%;
  padding-right: 5%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: end;
  align-self: end;
}
.cup{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 95%;
    width: 95%;
}
.gen-path{
  transform: translate(0.000000,325.000000) scale(0.100000,-0.100000);
}
.liquid-path{

  stroke: none;
}
.cup-paths{
  fill: black;
  stroke: black;
}
/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=*/
@media only screen 
  and (orientation: portrait)
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #menu-space{
      grid-column: 1 / 2; 
      grid-row: 1;
    }
    #filtered-matches{
      grid-column: 2 / 3; 
      grid-row: 2;
    }
    .filtered-item{
      width: 100%;
    }
}
